
@media (max-width: 500px) {
    .emergency-btn {
        background: #fff;
        text-align: center;
        color: #eb4559;
        border-radius: 30px;
        border: 1px solid #eb4559;
        box-shadow: 0rem 2rem 6.5rem rgb(235 69 89 / 10%);
        padding: 3rem 5rem;
        transform: translateY(0px);
        transition: all 0.5s;
        text-decoration: none;
        display: inline-block;
        font-size: 5rem;
        font-weight: 700;
        line-height: 2rem;
        text-transform: capitalize;
        text-align: center;
        cursor: pointer;
        box-sizing: border-box;
      }
      .phone {
          width: 7rem;
      }
      .phone-white {
        display: none;
        z-index: -1;
      }
    .banner {
        display: flex;
        flex-direction: column;
        margin-top: 12rem;
        text-align: center;
    }
    .banner h1 {
        font-weight: bold;
        font-size: 25rem;
        line-height: 25rem;
        margin-bottom: 2.5rem;
        color: #151D41;
        font-family: 'space_groteskbold', sans-serif;
        display: block;
        margin-block-start: 0em;
        margin-block-end: 0.67rem;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .banner h4 {
        font-weight: 500;
        font-size: 8rem;
        line-height: 10rem;
        display: block;
        margin-block-start: 3em;
        margin-block-end: 1.33em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-family: 'space_groteskregular', sans-serif;
        overflow-x: inherit;
        color: #3348af;
    }
    .flex-item {
        width: 100%;
    }
    
    .flex-right {
        position: relative;
    
    }
    .flex-left {
        margin-top: 10rem;

    }
    .white-virus {
        width: 20rem;
        height: 20rem;
        position: absolute;
        top: 20rem;
        left: 40rem;
        animation: prespin 15s infinite linear;
    }
    .background {
        box-sizing: border-box;
        width: 150rem;
        margin: auto;
        height: 170rem;
    }
    .people {
        position : absolute;
        right: 40rem;
        bottom: 20rem;
        width: 95rem;
        height:100rem;
        animation: updown infinite linear 3s alternate;
    }
    .virus {
        position : absolute;
        animation: prespin 15s infinite linear;
    }
    
    .v1 {
        top: 10rem;
        left: 35rem;
        z-index: 2;
        width: 25rem;
        height: 25rem;
    }
    .v2 {
        left: 0;
        z-index: 2;
        bottom: 50rem;
        width: 15rem;
        height: 15rem;
    }
    .v3 {
        right: 0;
        bottom: 30rem;
        z-index: 2;
        width: 10rem;
        height: 10rem;
    }



    .global-data-container {
        width: 100%;
        padding-right: 0rem;
        padding-left: 0rem;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15rem;
        /* margin-bottom: 20rem; */
      }
      
      .global-data-wrap {
        box-shadow: 0px 20px 100px rgb(2 2 3 / 10%);
        border-radius: 5px;
        display: flex;
        position: relative;
        z-index: 2;
        overflow: hidden;
        padding: 8rem 3rem;
        position: relative;
      }
      
      .global-data-flex-item {
        width: 25%;
      }
      
      .counter {
        font-size: 8rem;
        line-height: 3rem;
        text-align: center;
        color: #eb4559;
        margin-bottom: 1rem;
        font-family: 'space_groteskbold', sans-serif;
          font-weight: 700;
          margin: 0;
      }
      .green-counter {
          color: #55C882;
      }
      .global-data-flex-item p {
          font-family: 'space_groteskregular', sans-serif;
          font-size: 7rem;
          line-height: 8rem;
          overflow-x: inherit;
          color: #6C7083;
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
      }
      
      .vw1 {
          position: absolute;
          width: 15rem;
          height: 15rem;
          top: 37rem;
          left: -3rem;
      }
      .vw2 {
          position: absolute;
          width: 15rem;
          height: 15rem;
          top: 37rem;
          right: -3rem;
      }



      .star {
        height : 3rem;
        width: 3rem ;
        cursor: pointer;
        position : absolute;
       left: 7rem;
    }
    select,
option,
td {
  font-size: 4rem;
  line-height: 2em;
  letter-spacing: -0.005em;
  font-weight: 400;
  padding: 0rem 4rem;
}
.data-date {
    font-size: 2rem;
    /* padding: 0rem; */
}
th {
  font-size: 2.5rem;
  line-height: 1.4em;
  letter-spacing: -0.005em;
  font-weight: 400;
  padding: 0rem 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  --tw-text-opacity: 1;
  color: rgba(107,114,128,var(--tw-text-opacity));
  letter-spacing: .05em;
  text-transform: uppercase;
  font-weight: 500;
  display: table-cell;
        vertical-align: inherit;
        height: 20rem;
}
h1 {
  font-size: 6rem;
  line-height: 1em;
  font-weight: 200;
  letter-spacing: -0.005em;
  line-height: 1.1em;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

    td {
        text-align: center;
        display: table-cell;
        vertical-align: inherit;
    }
    
    table {
        margin: 5rem auto;
        width: 100%;
        border-collapse: collapse;
        box-sizing: border-box;
        border-color: grey;
    
    }
    thead {
        --tw-bg-opacity: 1;
        background-color: rgba(249,250,251,var(--tw-bg-opacity));
        vertical-align: middle;
    }
    tr {
        border: none
    }

    
    .data {
        color: #eb4559;
    }
    .data-green {
        color: #55C882;
    }
    .detail-btn {
        font-size: 3rem;
    }

    label {
        /* display: block; */
        font: 4rem 'Fira Sans', sans-serif;
    }
    
    input,
    label {
        margin: 0.5rem;
        height: 5rem;
    }
    .submit-btn {
        font-size: 5rem;
        height:8rem;
        width: 10rem;
    }
}

@media (max-width: 375px) {
    .emergency-btn {
        background: #fff;
        text-align: center;
        color: #eb4559;
        border-radius: 30px;
        border: 1px solid #eb4559;
        box-shadow: 0rem 2rem 6.5rem rgb(235 69 89 / 10%);
        padding: 3rem 3.5rem;
        transform: translateY(0px);
        transition: all 0.5s;
        text-decoration: none;
        display: inline-block;
        font-size: 5rem;
        font-weight: 700;
        line-height: 3rem;
        text-transform: capitalize;
        text-align: center;
        cursor: pointer;
        box-sizing: border-box;
      }
      .phone {
          width: 7rem;
      }
      .phone-white {
        display: none;
        z-index: -1;
      }
    .banner {
        display: flex;
        flex-direction: column;
        margin-top: 15rem;
        text-align: center;
    }
    .banner h1 {
        font-weight: bold;
        font-size: 25rem;
        line-height: 30rem;
        margin-bottom: 2.5rem;
        color: #151D41;
        font-family: 'space_groteskbold', sans-serif;
        display: block;
        margin-block-start: 0em;
        margin-block-end: 0.67rem;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .banner h4 {
        font-weight: 500;
        font-size: 8rem;
        line-height: 10rem;
        display: block;
        margin-block-start: 3em;
        margin-block-end: 1.33em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-family: 'space_groteskregular', sans-serif;
        overflow-x: inherit;
        color: #6C7083;
    }
    .flex-item {
        width: 100%;
    }
    
    .flex-right {
        position: relative;
        /* margin-top: 35rem; */
    
    }
    .flex-left {
        margin-top: 20rem;

    }
    .white-virus {
        width: 20rem;
        height: 20rem;
        position: absolute;
        top: 20rem;
        left: 40rem;
        animation: prespin 15s infinite linear;
    }
    .background {
        box-sizing: border-box;
        width: 150rem;
        margin: auto;
        height: 170rem;
    }
    .people {
        position : absolute;
        right: 40rem;
        bottom: 20rem;
        width: 95rem;
        height:100rem;
        animation: updown infinite linear 3s alternate;
    }
    .virus {
        position : absolute;
        animation: prespin 15s infinite linear;
    }
    
    .v1 {
        top: 10rem;
        left: 35rem;
        z-index: 2;
        width: 25rem;
        height: 25rem;
    }
    .v2 {
        left: 0;
        z-index: 2;
        bottom: 50rem;
        width: 15rem;
        height: 15rem;
    }
    .v3 {
        right: 0;
        bottom: 30rem;
        z-index: 2;
        width: 10rem;
        height: 10rem;
    }



    .global-data-container {
        width: 100%;
        padding-right: 0rem;
        padding-left: 0rem;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15rem;
        /* margin-bottom: 20rem; */
      }
      
      .global-data-wrap {
        box-shadow: 0px 20px 100px rgb(2 2 3 / 10%);
        border-radius: 5px;
        display: flex;
        position: relative;
        z-index: 2;
        overflow: hidden;
        padding: 10rem 5rem;
        position: relative;
      }
      
      .global-data-flex-item {
        width: 25%;
      }
      
      .counter {
        font-size: 9rem;
        line-height: 3rem;
        text-align: center;
        color: #eb4559;
        margin-bottom: 1rem;
        font-family: 'space_groteskbold', sans-serif;
          font-weight: 700;
          margin: 0;
      }
      .green-counter {
          color: #55C882;
      }
      .global-data-flex-item p {
          font-family: 'space_groteskregular', sans-serif;
          font-size: 6rem;
          line-height: 8rem;
          overflow-x: inherit;
          color: #6C7083;
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
      }
      
      .vw1 {
          position: absolute;
          width: 15rem;
          height: 15rem;
          top: 40rem;
          left: -3rem;
      }
      .vw2 {
          position: absolute;
          width: 15rem;
          height: 15rem;
          top: 40rem;
          right: -3rem;
      }



      .star {
        height : 3.5rem;
        width: 3.5rem ;
        cursor: pointer;
        position : absolute;
       left: 7rem;
    }
    select,
option,
td {
  font-size: 4rem;
  line-height: 2em;
  letter-spacing: -0.005em;
  font-weight: 400;
  padding: 0rem 4rem;
}
.data-date {
    font-size: 3.3rem;
    /* padding: 0rem; */
}
th {
  font-size: 3rem;
  line-height: 2em;
  letter-spacing: -0.005em;
  font-weight: 400;
  padding: 0rem 0rem;
  /* padding-top: 0.75rem; */
  /* padding-bottom: 0.75rem; */
  --tw-text-opacity: 1;
  color: rgba(107,114,128,var(--tw-text-opacity));
  letter-spacing: .05em;
  text-transform: uppercase;
  font-weight: 500;
  display: table-cell;
        vertical-align: inherit;
        height: 25rem;
}
h1 {
  font-size: 6rem;
  line-height: 1em;
  font-weight: 200;
  letter-spacing: -0.005em;
  line-height: 1.1em;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

    td {
        text-align: center;
        display: table-cell;
        vertical-align: inherit;
    }
    
    table {
        margin: 5rem auto;
        width: 100%;
        border-collapse: collapse;
        box-sizing: border-box;
        border-color: grey;
    
    }
    thead {
        --tw-bg-opacity: 1;
        background-color: rgba(249,250,251,var(--tw-bg-opacity));
        vertical-align: middle;
    }
    tr {
        border: none
    }

    
    .data {
        color: #eb4559;
    }
    .data-green {
        color: #55C882;
    }
    .detail-btn {
        font-size: 3.5rem;
        height: 7rem;
        width: 15rem;
    }

    label {
        font: 5rem 'Fira Sans', sans-serif;
    }
    
    input,
    label {
        margin: 0.5rem;
        height: 7rem;
    }
    .submit-btn {
        font-size: 5rem;
        height:8rem;
        width: 10rem;
    }
}